<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=-, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    - Breast Cancer Analyzer
    <br>
    <br>
    <form method="POST" action='http://localhost:4000/breast_cancer'>
        <label for=1>Worst Concave Points:</label>
        <input type='text' name="worstconcave" style="width: 250px" id="worstconcave" required=True/>
        <br>
        <br>
        <label for=2>Worst Perimeter:</label>
        <input type='text' name="worstperim" style="width: 250px" id="worstperim" required=True/>
        <br>
        <br>
        <label for=3>Mean Concave Points:</label>
        <input type='text' name="meanconcave" style="width: 250px" id="meanconcave" required=True/>
        <br>
        <br>
        <label for=4>Worst Radius:</label>
        <input type='text' name="worstradius" style="width: 250px" id="worstradius" required=True/>
        <br>
        <br>
        <label for=5>Mean Perimeter:</label>
        <input type='text' name="meanperim" style="width: 250px" id="meanperim" required=True/>
        <br>
        <br>
        <label for=6>Worst Area:</label>
        <input type='text' name="worstarea" style="width: 250px" id="worstarea" required=True/>
        <br>
        <br>
        <label for=7>Mean Radius:</label>
        <input type='text' name="meanradius" style="width: 250px" id="meanradius" required=True/>
        <br>
        <br>
        <label for=8>Mean Area:</label>
        <input type='text' name="meanarea" style="width: 250px" id="meanarea" required=True/>
        <br>
        <br>
        <label for=9>Mean Concavity:</label>
        <input type='text' name="meanconcavity" style="width: 250px" id="meanconcavity" required=True/>
        <br>
        <br>
        <label for=10>Worst Concavity:</label>
        <input type='text' name="worstconcavity" style="width: 250px" id="worstconcavity" required=True/>
        <br>
        <br>
        <input type='submit' value='Analyze'>
        <br>
        <br>
    </form>
</body>
</html>